@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --radius: 0.625rem; /* 10px */
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 0 0% 10%; /* #1a1a1a */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 0 0% 10%; /* #1a1a1a */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 10%; /* #1a1a1a */
    --primary: 142 50% 26%; /* #186822 */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 120 100% 94%; /* #eeffec */
    --secondary-foreground: 140 70% 20%; /* #1c4827 */
    --muted: 120 80% 97%; /* #f8fdf8 */
    --muted-foreground: 210 6% 44%; /* #6b7280 */
    --accent: 74 45% 77%; /* #d0dc9f */
    --accent-foreground: 140 70% 20%; /* #1c4827 */
    --destructive: 0 70% 47%; /* #dc2626 */
    --border: 210 16% 91%; /* #e5e7eb */
    --input: 0 0% 96%; /* #f3f4f6 */
    --ring: 134 25% 57%; /* #80ae82 */
    --chart-1: 142 50% 26%; /* #186822 */
    --chart-2: 134 25% 57%; /* #80ae82 */
    --chart-3: 74 45% 77%; /* #d0dc9f */
    --chart-4: 140 70% 20%; /* #1c4827 */
    --chart-5: 120 100% 94%; /* #eeffec */
    --sidebar: 0 0% 100%; /* #ffffff */
    --sidebar-foreground: 0 0% 10%; /* #1a1a1a */
    --sidebar-primary: 142 50% 26%; /* #186822 */
    --sidebar-primary-foreground: 0 0% 100%; /* #ffffff */
    --sidebar-accent: 120 100% 94%; /* #eeffec */
    --sidebar-accent-foreground: 140 70% 20%; /* #1c4827 */
    --sidebar-border: 210 16% 91%; /* #e5e7eb */
    --sidebar-ring: 134 25% 57%; /* #80ae82 */
  }

  [data-theme='dark'] {
    --primary: 128 63% 25%;
    --primary-foreground: 149 89% 11%;
    --secondary: 149 17% 11%;
    --secondary-foreground: 149 17% 71%;
    --background: 149 56% 0%;
    --foreground: 149 15% 97%;
    --card: 149 56% 0%;
    --card-foreground: 149 15% 97%;
    --popover: 149 56% 0%;
    --popover-foreground: 149 15% 97%;
    --muted: 149 16% 11%;
    --muted-foreground: 149 8% 65%;
    --accent: 149 23% 18%;
    --accent-foreground: 149 23% 78%;
    --destructive: 21 91% 50%;
    --destructive-foreground: 0 0% 0%;
    --border: 149 3% 14%;
    --input: 149 3% 14%;
    --ring: 149 89% 51%;
    --chart-1: 128 63% 25%;
    --chart-2: 149 23% 78%;
    --chart-3: 149 17% 11%;
    --chart-4: 149 15% 97%;
    --chart-5: 149 23% 18%;
    --sidebar: 149 56% 0%;
    --sidebar-foreground: 149 15% 97%;
    --sidebar-primary: 128 63% 25%;
    --sidebar-primary-foreground: 149 89% 11%;
    --sidebar-accent: 149 23% 18%;
    --sidebar-accent-foreground: 149 23% 78%;
    --sidebar-border: 149 3% 14%;
    --sidebar-ring: 149 89% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}